<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Данные из МКГУ за период с {{ first_date }} по {{ last_date }}</h2>
    <table style="margin:0; padding:0; border: 1px solid black; border-collapse: collapse; font-size: 12px;">
        <tr>
            <th style="border: 1px solid black; border-collapse: collapse; width: 30%;">Название филиала</th>
            <th style="border: 1px solid black; border-collapse: collapse; ">Кол-во телефонных номеров</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Кол-во оцененных факторов</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Всего оценок</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Оценок 1</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Оценок 2</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Оценок 3</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Оценок 4</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Оценок 5</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Удовлетворенность</th>
        </tr>
        {% for filial in filials %}
            <tr style="text-align: center; vertical-align: middle;">
                <td style="border: 1px solid black; border-collapse: collapse; text-align: left; vertical-align: middle;">{{ filial["filial_name"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["count_phone_numbers"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["count_factors"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["all_scores"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["score_1"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["score_2"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["score_3"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["score_4"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["score_5"] }}</td>
                <td style="border: 1px solid black; border-collapse: collapse;">{{ filial["rating"] }}%</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <p style="font-size: 13px;">Данные получены при помощи "МКГУ Парсер МФЦ"</p>
    <p style="font-size: 12px; color: gray">Автор: Плеханов Андрей Николаевич<br>Филиал АУ "МФЦ" в г. Семилуки<br>тел. 772-127</p>
</body>
</html>